{% extends "layout.html" %}

{% block content %}
  <table classes="table" action="/" method="POST">
    <thead>
      <tr>
        <th scope="col">My Movie</th>
      </tr>
    </thead> 
    <tr>
      <td>{{my_movie}}</td>
    </tr>
  </table>
  <br>
  <table classes="table" action="/" method="POST">
    <thead>
      <tr>
        <th scope="col">All Movies</th>
      </tr>
    </thead> 
    <!-- {% for i in data[0:1] %} -->
    <tr>
      <td>{{ data[1] }}</td>
    </tr>
    <tr>
      <td>{{ data[2] }}</td>
    </tr>
    <tr>
      <td>{{ data[3] }}</td>
    </tr>
    <tr>
      <td>{{ data[4] }}</td>
    </tr>
    <tr>
      <td>{{ data[5] }}</td>
    </tr>
   <!--  {% endfor %} -->
  </table>

{% endblock %}

<!-- 
{% for question in questions %}
    <p>{{question[0]}}</p>
    {% for answer in answers[0:3] %}
        <p>{{answer}}</p>
    {% endfor %}
{% endfor %}-->