<!DOCTYPE html>
<html>
  <head>
  <title>Reco App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="HTML5 skeleton index.html">
  <meta name="keywords" content="html5,skeleton,index,homepage,jquery,bootstrap">
  <meta name="author" content="Arul John">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet">
  </head>
<body>
<main role="main">
  <div class="container">
    <div class="row">
      <h1>Find a new movie to watch</h1>
    </div>
    <div class="row">
        <h4>What's your favourite movie?</h4>
    </div>

    {% include button.html %}

    <div class="row">
      <h4>These are the movies we recommend: {}</h4>
    </div>
    
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
//<![CDATA[
window.jQuery || document.write(unescape('%3Cscript src="/jquery.min.js">%3C/script>'))
//]]>
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
//<![CDATA[
typeof $().modal == 'function'  || document.write(unescape('%3Cscript src="/bootstrap.min.js">%3C/script>'))
//]]>
</script>

<!-- {% include "includes/footer.html" %} -->

</body>
</html>