<!DOCTYPE html>
<html>
  <head>
  <title>HTML5 Skeleton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="HTML5 skeleton index.html">
  <meta name="keywords" content="html5,skeleton,index,homepage,jquery,bootstrap">
  <meta name="author" content="Arul John">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet">
  </head>
<body>
<main role="main">
  <div class="container">


    <!-- {% include "includes/footer.html" %} -->

</body>
</html>